<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>
        {{title}}
    </title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="main-content">
        <h1>{{title}}</h1>
        {{>header}}
        <p>This project is created by Jerry</p>
        <p>You can check out my repo in github, it is centinna-l</p>
    </div>
    {{>footer}}
</body>

</html>