<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>
        Error
    </title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="main-content">
        <h1>Error page</h1>
        {{>header}}
    </div>
    {{>footer}}
</body>

</html>